
<header>
    <div class="row">
        <div class="col pointer" (click)="filterTrucks(data)">
    <strong>Total Trucks<br>{{trucks?.total?.length}}</strong>
        </div>
        <div class="col pointer" (click)="filterTrucks(trucks.running)">
    <strong>Running Trucks <br>{{trucks?.running?.length}}   </strong>     
        </div>
        <div class="col pointer" (click)="filterTrucks(trucks.stopped)">
       <strong>  Stopped Trucks<br>{{trucks?.stopped?.length}}   </strong>
        </div>
         <div class="col pointer" (click)="filterTrucks(trucks.idle)">
       <strong> Idle Trucks  <br>{{trucks?.idle?.length}}   </strong>
        </div>
         <div class="col pointer" (click)="filterTrucks(trucks.error)">
     <strong>   Error Trucks<br> {{trucks?.error?.length}}   </strong>
        </div> 
        <div class="col">
            <ng-multiselect-dropdown
            [placeholder]="'Select truck'"
            [data]="dropdownList"
            (onDropDownClose)="onDropDownClose()"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            
          >
          </ng-multiselect-dropdown>
        </div>
    </div>
</header>
<body>
    <div class="row">
      
        <div class="col-4 ">
<div class="container" >
  <form action="">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
      <div class="input-group">
        <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" (keyup)="filterItem(myInput.value)" #myInput class="form-control border-0 bg-light">
        <div class="input-group-append">
          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
    </form>
    <div class="scroll">
<div class="as " *ngFor="let x of filteredTrucks">

  <div class="row basic"  [ngClass]="{'my-class': x.lastRunningState.stopStartTime<now-14400000}">
    <div class="col-8">
     <div class="row">{{x.truckNumber}}</div>
     <div class="row" *ngIf="x.lastRunningState.truckRunningState=='0'">stopped since {{x.lastRunningState.stopStartTime | niceDateFormatPipe}}</div>
     <div class="row" *ngIf="x.lastRunningState.truckRunningState=='1'">Running since {{x.lastRunningState.stopStartTime|  niceDateFormatPipe}}</div>
    </div>
    <div class="col-4">
      <div class="row" > {{x.lastRunningState.stopStartTime | niceDateFormatPipe}}</div>
      <div class="row"  *ngIf="x.lastRunningState.truckRunningState=='1'"><small *ngIf="x.lastWayPoint">{{x.lastWayPoint.speed}}km/hr</small> </div>
    </div>
  </div>
</div>
</div>
</div>
        </div>
        <div class="col-8">
          <agm-map
          [latitude]="latitude"
          [longitude]="longitude"
          [zoom]="2"
          (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
        >
          <agm-marker
            *ngFor="let marker of markers;let i=index"
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [opacity]="marker.alpha"
            [iconUrl]="marker.icon"
            [markerDraggable]="true"
            (markerClick)="selectMarker($event)"
           
   
 
          >
          </agm-marker>
        
        </agm-map>
        <p *ngIf="selectedMarker">
          Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
        </p>
        </div>
    </div>
</body>